*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# ignore k8s secrets
/k8s/secrets/
/k8s/secrets/*


# OSX
.DS_STORE
.DS_Store

# VsCode
.vscode/

#ignore CDK logs
/logs
/logs/*
